* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(197, 172, 172);
}

h2{
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

h3{
    text-align: center;
    font-size: 2em; 
    color: #e94d58;
    margin: 15px 0;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative; 
}

button {
    width: 150px;
    height: 40px; 
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    transition: background-color 0.3s; 
}

button:nth-child(1) {
    margin-right: 20px; 
    background: #e94d58;
}

button:nth-child(2) {
    background: white;
    color: #e94d58;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 20px;      
}

.gif {
    max-width: 100%; 
    height: auto;    
}
